h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: #272D2D;
  }

p {
    font-weight: 600;
}



stitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    color: #272D2D;
}

@media screen and (max-width: 1676px) {
    stitle {
        font-size: 1.2em; } }


.menubuttons {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: Normal;
    font-size: 16px;
  }
  
  .menubuttons:hover {
    color: #ffffff;
  }
  
  .menubuttons:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    
  .menubuttons:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .logo {
     
      max-height: 1.5em;
      height: auto;
      padding-left: .8em;
  }
  
.iconbox {
    max-height: 55px;
    width: 100%;
    vertical-align:center;
}

.picturebox {
    border-radius:.3em; 
 /*   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); */
}


!important input  {
    border-radius: 3em;
}


  .homebutton

  body {
    opacity: 1;
    transition: 0.7s opacity;
  }
  
  body.fade {
      opacity: 0;
      transition: none;
  }

  .fancyimage {
      
      background-image: url(../backgr.png); 
      background-repeat: no-repeat;
      background-size:;
      
     
  }

  @media screen and (max-width: 39.99875em) {
    .fancyimage {
        background-image: none ; 
        background-repeat: ;
        background-size:; } }

  @media screen and (min-width: 40em) and (max-width: 63.99875em) {
    .fancyimage {
        background-image: none ; 
        background-repeat: ;
        background-size:; } }


    .fancyimage2 {
      
            background-image: url(../backgr2.png); 
            background-repeat: no-repeat;
            width:100%;
            
           
        }
      
        @media screen and (max-width: 39.99875em) {
          .fancyimage2 {
              background-image: none ; 
              background-repeat: ;
              background-size:; } }
      
        @media screen and (min-width: 40em) and (max-width: 63.99875em) {
          .fancyimage2 {
              background-image: none ; 
              background-repeat: ;
              background-size:; } }
      


        footer {
            color: white;
            font-size: .8em;
            width: 100%;
            font-family:'Nunito Sans';
            background-color: #1A2F2F;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 1em 1em 1em;
          }


          @media screen and (max-width: 39.99875em) {
            .button {
            width: 100%;
            justify-content: center;   
            } }



.centeringimage {
    max-height: 49px; 
    margin-bottom: 16px; 
    margin-right: 32px;
}


            @media screen and (max-width: 39.99875em) {
                .centeringimage {
                align-items:center;
                justify-content: center;   
                } }


.extratext {
    text-align:center;
}

                